<div class="break-inside-avoid last:mb-0 w-full border-1 rounded mb-8">
  <p class="bg-gray-200 p-2 rounded-t font-bold text-center border-b-1">
    <%= item_group["name"] %>
  </p>

  <table class="w-full">
    <thead>
      <tr>
        <th scope="col" class="p-2 border-b-1 align-top text-left w-[30%]">
          <%= t("views.accounting.invoice.shared.groups.columns.details") %>
        </th>
        <th scope="col" class="p-2 border-b-1 align-top text-center w-[17.5%]">
          <%= t("views.accounting.invoice.shared.groups.columns.total_excl_tax_label") %>
        </th>
        <th scope="col" class="p-2 border-b-1 text-center w-[17.5%]">
          <%= t("views.accounting.invoice.shared.groups.columns.total_previously_billed_label") %><br>
          <p class="text-[calc(var(--text-xs)*0.80)] font-light text-center">(A)</p>
        </th>
        <th scope="col" class="p-2 border-b-1 text-center w-[17.5%]">
          <%= t("views.accounting.invoice.shared.groups.columns.completion") %><br>
          <p class="text-[calc(var(--text-xs)*0.80)] font-light text-center">(B)</p>
        </th>
        <th scope="col" class="p-2 border-b-1 text-right w-[17.5%]">
          <%= t("views.accounting.invoice.shared.groups.columns.invoice") %><br>
          <p class="text-[calc(var(--text-xs)*0.80)] font-light text-right">(B - A)</p>
        </th>
      </tr>
    </thead>

    <tbody>
      <% invoice.context.fetch("project_version_items").filter_map do |item| %>
        <% if item["group_id"] == item_group["id"] %>          
          <tr>
            <th scope="row" class="text-left p-2">
              <%= item["name"] %><br>
              <p class="text-[calc(var(--text-xs)*0.80)] text-gray-400">
                <%= item["quantity"] %> <%= item["unit"] %> @
                <%= number_to_currency(item["unit_price_amount"]) %>
                <br>
                <%= t("views.accounting.invoice.shared.vat_rate", rate: number_to_percentage(item["tax_rate"].to_d * 100, precision: 0)) %>
              </p>
            </th>
            <td class="text-center p-2">
              <%= number_to_currency(item["quantity"].to_d * item["unit_price_amount"].to_d) %>
            </td>
            <td class="text-center p-2">
              <%= number_to_currency(item["previously_billed_amount"].to_d) %><br>
              <p class="text-[calc(var(--text-xs)*0.80)] text-gray-400">
                <%= number_to_percentage(item["previously_billed_amount"].to_d / (item["quantity"].to_d * item["unit_price_amount"].to_d) * 100, precision: 2) %>
              </p>
            </td>
            <td class="text-center p-2">
              <%= number_to_currency(item["previously_billed_amount"].to_d + (invoice.lines.find{|invoice_line| invoice_line.holder_id == item["original_item_uuid"]}&.excl_tax_amount || 0)) %><br>
              <p class="text-[calc(var(--text-xs)*0.80)] text-gray-400">
                <%= number_to_percentage((item["previously_billed_amount"].to_d + (invoice.lines.find{|invoice_line| invoice_line.holder_id == item["original_item_uuid"]}&.excl_tax_amount || 0)) / (item["quantity"].to_d * item["unit_price_amount"].to_d) * 100, precision: 2) %>
              </p>
            </td>
            <td class="text-right p-2">
              <%= number_to_currency(invoice.lines.find{|invoice_line| invoice_line.holder_id == item["original_item_uuid"]}&.excl_tax_amount || 0) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>