<% I18n.with_locale(@locale) do %>
  <header class="header text-xs">
    <div class="flex justify-between">
      <%= image_tag("images/logo_cheyere.png") %>
      <table>
        <tbody>
          <tr>
            <th colspan="2" class="px-2 bg-gray-200 border-1 rounded rounded-b-none text-2xl">
              <%= case @invoice.number.split("-")[0]
                  when "PRO"
                    t("views.accounting.invoice.unpublished.title")
                  when "INV"
                    t("views.accounting.invoice.published.title")
                  when "CN"
                    t("views.accounting.invoice.credit_note.title")
                  end %>
            </th>
          </tr>
          <tr>
            <th class="text-left px-2 bg-gray-200 border-1 border-t-0">
              <%= case @invoice.number.split("-")[0]
                  when "PRO"
                    t("views.accounting.invoice.unpublished.number")
                  when "INV"
                    t("views.accounting.invoice.published.number")
                  when "CN"
                    t("views.accounting.invoice.credit_note.number")
                  end %>
            </th>
            <td class="px-2 text-right border-1 border-t-0 border-l-0">
              <%= @invoice.number %>
            </td>
          </tr>
          <tr>
            <th class="text-left px-2 bg-gray-200 border-1 border-t-0">
              <%= t("views.accounting.invoice.shared.billing_date") %>
            </th>
            <td class="px-2 text-right border-1 border-t-0 border-l-0">
              <%= l(@invoice.issue_date, format: :short) %>
            </td>
          </tr>
          <% if @invoice.number.start_with?("CN") %>
            <tr>
              <th class="text-left px-2 bg-gray-200 border-1 border-t-0 rounded-bl">
                <%= t("views.accounting.invoice.credit_note.original_invoice_number") %>
              </th>
              <td class="px-2 text-right border-1 border-t-0 border-l-0 rounded-br">
                <%= @invoice.invoice.number %>
              </td>
            </tr>
          <% else %>
            <tr>
              <th class="text-left px-2 bg-gray-200 border-1 border-t-0">
                <%= t("views.accounting.invoice.shared.due_date") %>
              </th>
              <td class="px-2 text-right border-1 border-t-0 border-l-0">
                <%= l(@invoice.detail.due_date, format: :short) %>
              </td>
            </tr>
            <tr>
              <th class="text-left px-2 bg-gray-200 border-1 border-t-0 rounded-bl">
                <%= t("views.accounting.invoice.shared.snapshot_number") %>
              </th>
              <td class="px-2 text-right border-1 border-t-0 border-l-0 rounded-br">
                <%= @invoice.context["snapshot_number"] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </header>

  <footer class="footer text-xs ml-[-113.336px] flex flex-col">
    <p>
      <%= [
            t("views.organization.completion_snapshots.invoice.seller_details.legal_form.#{@invoice.detail.seller_legal_form}",
              capital_amount: number_to_currency(@invoice.detail.seller_capital_amount)),
            t("views.organization.completion_snapshots.invoice.seller_details.rcs",
              city: @invoice.detail.seller_rcs_city,
              number: @invoice.detail.seller_rcs_number)
          ].join(" - ") %>
    </p>
    <p>
      <%= t("views.organization.completion_snapshots.invoice.seller_details.registration_number_html", number: @invoice.detail.seller_registration_number) %>
      <%= t("views.organization.completion_snapshots.invoice.seller_details.vat_number_html", number: @invoice.detail.seller_vat_number) %>
    </p>
    <p>
      <%= t("views.organization.completion_snapshots.invoice.seller_details.iban_html", number: @invoice.detail.bank_detail_iban) %>
      <%= t("views.organization.completion_snapshots.invoice.seller_details.bic_html", number: @invoice.detail.bank_detail_bic) %>
    </p>
  </footer>

  <main class="text-xs">
    <section class="mb-8">
      <table class="mb-8 w-full">
        <tbody>
          <tr>
            <th colspan="2" class="px-2 py-1 bg-gray-200 rounded rounded-b-none border-1">
              <%= t("views.organization.completion_snapshots.invoice.seller_details.title") %>
            </th>
          </tr>
          <% [
            {
              label: t("views.organization.completion_snapshots.invoice.seller_details.name_label"),
              content: @invoice.detail.seller_name
            },
            {
              label: t("views.organization.completion_snapshots.invoice.seller_details.address_label"),
              content: t("views.organization.completion_snapshots.invoice.seller_details.address_value",
                        street: @invoice.detail.seller_address_street,
                        city: @invoice.detail.seller_address_city,
                        zip: @invoice.detail.seller_address_zipcode)
            },
            {
              label: t("views.organization.completion_snapshots.invoice.seller_details.phone_label"),
              content: @invoice.detail.seller_phone
            },
          ].each do |row| %>
            <% next unless row[:content] %>
            <tr class="group">
              <th class="bg-gray-200 w-44 text-left px-2 py-0.5 border-1 border-t-0 group-last:rounded-bl">
                <%= row[:label] %>
              </th>
              <td class="px-2 py-0.5 text-right border-1 border-t-0 border-l-0 group-last:rounded-br">
                <%= row[:content] || "NA" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="mb-8 w-full">
        <tbody>
          <tr>
            <th class="text-left px-2 py-0.5 bg-gray-200 border-1 border-t-0">
              <%= t("views.organization.completion_snapshots.invoice.seller_details.name_label") %>
            </th>
            <td class="px-2 py-0.5 text-right border-1 border-t-0 border-l-0">
              <%= @invoice.detail.seller_name %>
            </td>
          </tr>
          <tr>
            <th class="text-left px-2 py-0.5 bg-gray-200 border-1 border-t-0">
              <%= t("views.organization.completion_snapshots.invoice.seller_details.address_label") %>
            </th>
            <td class="px-2 py-0.5 text-right border-1 border-t-0 border-l-0">
              <%= t("views.organization.completion_snapshots.invoice.seller_details.address_value",
                    street: @invoice.detail.seller_address_street,
                    city: @invoice.detail.seller_address_city,
                    zip: @invoice.detail.seller_address_zipcode) %>
            </td>
          </tr>
          <tr>
            <th class="text-left px-2 py-0.5 bg-gray-200 border-1 border-t-0">
              <%= t("views.organization.completion_snapshots.invoice.seller_details.phone_label") %>
            </th>
            <td class="px-2 py-0.5 text-right border-1 border-t-0 border-l-0">
              <%= @invoice.detail.seller_phone %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="mb-8 w-full">
        <tbody>
          <tr>
            <th colspan="2" class="px-2 py-1 bg-gray-200 rounded rounded-b-none border-1">
              Client
            </th>
          </tr>
          <% [
            {
              label: t("views.accounting.invoice.shared.client_name_label"), 
              content: @invoice.detail.client_name
            },
            {
              label: t("views.accounting.invoice.shared.client_email_label"), 
              content: @invoice.detail.client_email
            },
            {
              label: t("views.accounting.invoice.shared.client_phone_label"), 
              content: @invoice.detail.client_phone
            },
            {
              label: t("views.accounting.invoice.shared.client_vat_number_label"), 
              content: @invoice.detail.client_vat_number
            },
            {
              label:t("views.accounting.invoice.shared.client_registration_number_label"), 
              content: @invoice.detail.client_registration_number
            },
          ].each do |row| %>
            <% next unless row[:content] %>
            <tr class="group">
              <th class="bg-gray-200 w-44 text-left px-2 py-0.5  border-1 border-t-0 group-last:rounded-bl">
                <%= row[:label] %>
              </th>
              <td class="px-2 py-0.5 text-right border-1 border-t-0 border-l-0 group-last:rounded-br">
                <%= row[:content] || "NA" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="flex justify-between gap-4 mb-8">
        <table class="grow">
          <tbody>
            <tr>
              <th colspan="2" class="px-2 py-1 bg-gray-200 border-1 rounded rounded-b-none h-[25.23px]">
                <%= t("views.organization.completion_snapshots.invoice.billing_address.title") %>
              </th>
            </tr>
            <tr>
              <td class="px-2 py-1 border-1 border-t-0 rounded-b">
                <strong><%= @invoice.detail.client_name %></strong><br>
                <%= t("common.address.value",
                      street: @invoice.detail.client_address_street,
                      city: @invoice.detail.client_address_city,
                      zip: @invoice.detail.client_address_zipcode) %><br/>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="grow">
          <tbody>
            <tr>
              <th colspan="2" class="px-2 py-1 bg-gray-200 border-1 rounded rounded-b-none h-[25.23px]">
                <%= t("views.organization.completion_snapshots.invoice.delivery_address.title") %>
              </th>
            </tr>
            <tr>
              <td class="px-2 py-1 border-1 border-t-0 rounded-b align-baseline">
                <strong><%= @invoice.detail.delivery_name %></strong><br>
                <%= t("common.address.value",
                      street: @invoice.detail.delivery_address_street,
                      city: @invoice.detail.delivery_address_city,
                      zip: @invoice.detail.delivery_address_zipcode) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <table class="w-full">
        <tbody>
          <tr>
            <th colspan="2" class="px-2 py-1 bg-gray-200 border rounded rounded-b-none">
              <%= t("views.organization.completion_snapshots.invoice.context.title") %>
            </th>
          </tr>
          <tr>
            <td class="px-2 py-1 border-1 border-t-0 rounded-b">
              <%= t("views.accounting.invoice.shared.context.project_html", name: @invoice.context.fetch("project_name")) %><br>
              <% if @invoice.detail.purchase_order_number %>  
              <%= t("views.accounting.invoice.shared.context.project_po_number_html",
                    po_number: @invoice.detail.purchase_order_number) %><br>
              <% end %>
              <%= t("views.accounting.invoice.shared.context.project_total_html",
                    total: number_to_currency(@invoice.context.fetch("project_total_amount").to_d)) %><br>
              <%= t("views.accounting.invoice.shared.context.project_previously_billed_html",
                    previously_billed: number_to_currency(@invoice.context.fetch("project_total_previously_billed_amount").to_d)) %><br>
              <%= t("views.organization.completion_snapshots.invoice.context.project_remaining_html",
                    remaining: number_to_currency(@invoice.context.fetch("project_total_amount").to_d - @invoice.context.fetch("project_total_previously_billed_amount").to_d)) %>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <% @invoice.context.fetch("project_version_item_groups").each do |item_group| %>
      <%= render "accounting/group", invoice: @invoice, item_group: item_group %>
    <% end %>

    <%= render "accounting/totals", invoice: @invoice %>

    <% if @invoice.detail.general_terms_and_conditions %>
      <section class="break-before-page prose prose-sm mx-auto">
        <h1 class="text-center text-xl font-bold"><%= t("views.accounting.invoice.shared.conditions.title") %></h1>
        <%= sanitize(@invoice.detail.general_terms_and_conditions) %>
      </section>
    <% end %>
  </main>
<% end %>
