<% group_total_amount = BigDecimal("0") %>
<% group_previously_billed_amount = BigDecimal("0") %>
<% group_new_completion_amount = BigDecimal("0") %>
<% group_invoice_amount = BigDecimal("0") %>

<div class="break-inside-avoid last:mb-0 w-full border-1 rounded mb-8">
  <p class="bg-gray-200 p-2 rounded-t font-bold text-center border-b-1">
    <%= item_group["name"] %>
  </p>

  <table class="w-full">
    <thead>
      <tr>
        <th scope="col" class="p-2 border-b-1 align-top text-left w-[30%]">
          <%= t("views.organization.completion_snapshots.invoice.items.designation_label") %>
        </th>
        <th scope="col" class="p-2 border-b-1 align-top text-center w-[17.5%]">
          <%= t("views.organization.completion_snapshots.invoice.items.total_label") %>
        </th>
        <th scope="col" class="p-2 border-b-1 text-center w-[17.5%]">
          <%= t("views.organization.completion_snapshots.invoice.items.previously_invoiced_label_html") %><br>
          <p class="text-[calc(var(--text-xs)*0.80)] font-light text-center">(A)</p>
        </th>
        <th scope="col" class="p-2 border-b-1 text-center w-[17.5%]">
          <%= t("views.organization.completion_snapshots.invoice.items.new_completion_label_html") %><br>
          <p class="text-[calc(var(--text-xs)*0.80)] font-light text-center">(B)</p>
        </th>
        <th scope="col" class="p-2 border-b-1 text-right w-[17.5%]">
          <%= t("views.organization.completion_snapshots.invoice.items.new_invoice_label_html") %><br>
          <p class="text-[calc(var(--text-xs)*0.80)] font-light text-right">(B - A)</p>
        </th>
      </tr>
    </thead>

    <tbody>
      <% payload.dig("transaction", "items").filter_map do |item| %>
        <% if item["item_group_id"] == item_group["id"] %>
          <% group_total_amount += BigDecimal(item["total_amount"]) %>
          <% group_previously_billed_amount += BigDecimal(item["previously_invoiced_amount"]) %>
          <% group_new_completion_amount += BigDecimal(item["completion_amount"]) %>
          <% group_invoice_amount += BigDecimal(item["completion_invoice_amount"]) %>
          
          <tr>
            <th scope="row" class="text-left p-2">
              <%= item["name"] %><br>
              <p class="text-[calc(var(--text-xs)*0.80)] text-gray-400">
                <%= item["quantity"] %> <%= item["unit"] %> @
                <%= number_to_currency(item["unit_price_amount"]) %>
              </p>
            </th>
            <td class="text-center p-2">
              <%= number_to_currency(item["total_amount"]) %>
            </td>
            <td class="text-center p-2">
              <%= number_to_currency(item["previously_invoiced_amount"]) %><br>
              <p class="text-[calc(var(--text-xs)*0.80)] text-gray-400">
                <%= number_to_percentage(BigDecimal(item["previously_invoiced_amount"]) / BigDecimal(item["total_amount"]) * 100, precision: 2) %>
              </p>
            </td>
            <td class="text-center p-2">
              <%= number_to_currency(item["completion_amount"]) %><br>
              <p class="text-[calc(var(--text-xs)*0.80)] text-gray-400">
                <%= number_to_percentage(BigDecimal(item["completion_percentage"]) * 100, precision: 2) %>
              </p>
            </td>
            <td class="text-right p-2">
              <%= number_to_currency(item["completion_invoice_amount"]) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th scope="row" class="border-t-1 p-2 text-left">Total</th>
        <td class="text-center border-t-1 p-2"><%= number_to_currency(group_total_amount) %></td>
        <td class="text-center border-t-1 p-2"><%= number_to_currency(group_previously_billed_amount) %></td>
        <td class="text-center border-t-1 p-2"><%= number_to_currency(group_new_completion_amount) %></td>
        <td class="text-right border-t-1 p-2"><%= number_to_currency(group_invoice_amount) %></td>
      </tr>
    </tfoot>
  </table>
</div>